<div *ngIf="campaign" class="row justify-content-center">
    <div class="col-12 card jh-card">
        <div class="campaign-header">
            <h2>{{campaign.name}}</h2>
            <span class="header-details">Goal: {{campaign.goal}}</span>
            <span class="header-details">Total Budget: {{campaign.totalBudget}} - {{campaign.status}}</span>
        </div>
        <nanos-alert-error></nanos-alert-error>
    </div>
    <div class="col-{{columnSize}}" *ngIf="campaign.platforms['facebook']">
        <nanos-campaign-platform name="Facebook" [platform]="campaign.platforms['facebook']"></nanos-campaign-platform>
    </div>
    <div class="col-{{columnSize}}" *ngIf="campaign.platforms['instagram']">
        <nanos-campaign-platform name="Instagram" [platform]="campaign.platforms['instagram']"></nanos-campaign-platform>
    </div>
    <div class="col-{{columnSize}}" *ngIf="campaign.platforms['google']">
        <nanos-campaign-platform name="Google" [platform]="campaign.platforms['google']"></nanos-campaign-platform>
    </div>
</div>
