<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="campaign">
            <h2><span jhiTranslate="nanosApp.campaign.detail.title">Campaign</span> {{campaign.id}}</h2>
            <hr>
            <nanos-alert-error></nanos-alert-error>
            <dl class="row-md jh-entity-details">
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/campaign', campaign.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
